/* 隐藏到显示 */
.opacity-animation{
    animation-name: opacity-animate;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

@keyframes opacity-animate {
    from{
        opacity: 0.1;
    }
    to{
        opacity: 1;
    }
}


/* 由下向上移动 */
/* 隐藏到显示 */
.donw-to-up-animation{
    animation-name: donw-to-up-animate;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}
.donw-to-up-animation0{
    animation-name: donw-to-up-animate;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}
.donw-to-up-animation1{
    animation-name: donw-to-up-animate;
    animation-duration: 1.5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}
.donw-to-up-animation2{
    animation-name: donw-to-up-animate;
    animation-duration: 1.9s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}
.donw-to-up-animation3{
    animation-name: donw-to-up-animate;
    animation-duration: 2.4s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

@keyframes donw-to-up-animate {
    from{
        transform: translateY(90px);
        opacity: 0.1;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

/* 由右到左移动 */
/* 隐藏到显示 */
.right-to-left-animation{
    animation-name: right-to-left-animate;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}
.right-to-left-animation0{
    animation-name: right-to-left-animateq;
    animation-duration: 1.5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

.right-to-left-animation1{
    animation-name: right-to-left-animateq;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

.right-to-left-animation2{
    animation-name: right-to-left-animateq;
    animation-duration: 2.5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

.right-to-left-animation3{
    animation-name: right-to-left-animateq;
    animation-duration: 1.6s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

.right-to-left-animation4{
    animation-name: right-to-left-animateq;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

.right-to-left-animation5{
    animation-name: right-to-left-animateq;
    animation-duration: 2.4s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

.right-to-left-animation6{
    animation-name: right-to-left-animateq;
    animation-duration: 2.8s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

@keyframes right-to-left-animate {
    from{
        transform: translateX(50px);
        opacity: 0.1;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes right-to-left-animateq {
    from{
        margin-left: 50px;
        opacity: 0.1;
    }
    to{
        margin-left: 0;
        opacity: 1;
    }
}

